.board {
    background-image: url("asset/noun-tic-tac-toe-213667.svg");
    height: 100vh;
    width: auto;
    background-repeat: no-repeat;
}
.centre {
    display: flex;
    border: solid red 2px;
    height: 100vh;
    width: 80em;
}