

body {
    background-color: antiquewhite;
    font-family     : 'Open Sans', sans-serif;
}
h1, h2 {
    text-align: center;
}

.bodyBox {
    background-color:burlywood;
    border: solid 2px blackgit ;
    display: flex;
    justify-content: space-between;

}

.left, .right {
    width: 400px;
    background-color: hsl(24, 95%, 46%);
}

.board {
    height: 100vh;
    width: auto;
    display         : flex;
    align-items     : center;
    justify-content : center;
    vertical-align  : center;
    flex-wrap       : wrap;
    align-content   : center;
    /* background      : linear-gradient(top, #222, #333); */
  
}
.TTTBoard {
    /* background-image: url("asset/noun-tic-tac-toe-213667.svg");  
    background-position:center;
    background-position-y: 15px;
    background-repeat: no-repeat; */
    display         : flex;
    justify-content : space-between;
    /* width   : 520px;
    height  : 520px; */
    padding : 5px;
    border  : 2px solid #e4e4e4;
}    
.column {
    display         : flex;
    flex-direction  : column;
    justify-content : space-between;
}

.box {
    display : block;
    width   : auto;
    height  : auto;
    border  : 3px solid #2c12ea;
    color       : #d6d92d;
    font-size   : 5em;
    font-weight : 100;
    text-align  : center;
    padding     : 20px;
    cursor: pointer;
}
