

body {
    background-color: antiquewhite;
    font-family     : 'Open Sans', sans-serif;
}
h1{
    font-size: 60px;
}
h1, h2, h3{
    text-align: center;
}

.bodyBox {
    background-color:#E0C1B3;
    border: solid 2px blackgit ;
    display: flex;
    justify-content: space-between;

}

.left, .right {
    width: 400px;
    background-color: #D89A9E;
}

.board {
    height: 100vh;
    width: auto;
    display         : flex;
    align-items     : center;
    justify-content : center;
    vertical-align  : center;
    flex-wrap       : wrap;
    align-content   : center;
    /* background      : linear-gradient(top, #222, #333); */
  
}
.TTTBoard {
    /* background-image: url("asset/noun-tic-tac-toe-213667.svg");  
    background-position:center;
    background-position-y: 15px;
    background-repeat: no-repeat; */
    display         : flex;
    justify-content : space-between;
    /* width   : 520px;
    height  : 520px; */
    padding : 5px;
   
}    
.column {
    display         : flex;
    flex-direction  : column;
    justify-content : space-between;
}

.box {
    display : block;
    width   : 180px;
    height  : 180px;
    border  : 3px solid #846267;
    color       : #C37D92;
    font-size   : 2em;
    font-weight : 100;
    text-align  : center;
    padding     : 20px;
    cursor: pointer;
}
